body 
{
background-image:url("background1.png");
background-repeat: no-repeat;
background-size:contain, cover ;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}