@import url(https://fonts.googleapis.com/css?family=Griffy);

body 
{
background-image:url("background1.png");
/*background-repeat: no-repeat;
background-size:contain, cover ;*/
background-repeat: no-repeat;
/*background-size:contain;*/

height: 100vh;
    
    background-attachment: fixed;
    background-size: cover;
    background-position: center !important;
    background-repeat: no-repeat !important;

    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-bg-transparent {
    background-color: rgba(148,0,211,0.2)!important;
}
.container {
    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";*/
    width: 600px; 
	height: 550px; 
	text-align: center;
    padding: 30px;
/*    border: 1px solid black;
*/    background-color: rgba(255,255,255,0.5);
	/*margin-bottom: 50px;*/
}
.h_1 {
    font-family:'Griffy';
    color: black;
    text-shadow: 5px 5px 10px purple;
    font-size: 60px;
}

.txtp_p {
	color: black;
	text-shadow: 5px 5px 10px purple;
}
